/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}


/* my code*/

html{
    font-size: 16px;
}

div{
    color: aliceblue;
}

body{
    background-color: rgb(38, 38, 38);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
}

.middle{
    flex: 1;
    margin-top: 175px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.286);
    height: 90px;
}

.topFooter{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.bottomFooter{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.leftHeader{
    display: flex;
    margin-top: 7px;
    margin-left: 12px;
}

.rightHeader{
    display: flex;
    margin-top: 7px;
    margin-right: 12px;
}

a{
    margin: 7px;
    color: white;
}

.logo{
    font-size: 6rem;
}

.searchBar{
    background-color: rgb(103, 103, 103);
    width: 550px;
    height: 2.75rem;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.logoLinks{
    display: flex;
}

.button{
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 5px;
    margin: 5px;
    width: fit-content;
    padding: 5px 15px;
    border: none;
}

button:hover{
    border: 1px solid white;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}